@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.ttf") format("ttf");
  // src: url('./assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../font//Gilroy-Bold.ttf") format("ttf");
  font-weight: bolder;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy Bold", sans-serif;
  font-size: 16px;
}

@media (max-width: 480px) {
  body {
    font-size: 8px;
  }
}

@mixin responsive($property, $value, $design-width: 1440px) {
  #{$property}: $value;

  @media (max-width: 1200px) {
    #{$property}: ($value / $design-width) * 1200px;
  }

  @media (max-width: 1024px) {
    #{$property}: ($value / $design-width) * 1024px;
  }

  @media (max-width: 768px) {
    #{$property}: ($value / $design-width) * 768px;
  }

  @media (max-width: 480px) {
    #{$property}: ($value / $design-width) * 480px;
  }
}

@mixin responsive-padding($top-bottom, $left-right, $design-width: 1440px) {
  padding: $top-bottom $left-right;

  @media (max-width: 1200px) {
    padding: ($top-bottom / $design-width) * 1200px
      ($left-right / $design-width) * 1200px;
  }

  @media (max-width: 1024px) {
    padding: ($top-bottom / $design-width) * 1024px
      ($left-right / $design-width) * 1024px;
  }

  @media (max-width: 768px) {
    padding: ($top-bottom / $design-width) * 768px ($left-right / $design-width) *
      768px;
  }

  @media (max-width: 576px) {
    padding: ($top-bottom / $design-width) * 576px ($left-right / $design-width) *
      576px;
  }
}

$label-color: #eceeff;
$royal-blue: #403df4;
$pure-white: #ffffff;
$navy-blue: #001a42;
$golden-yellow: #ffb400;

.label {
  background-color: $label-color;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 0.65rem;

  @media (min-width: 481px) {
    font-size: 0.5rem;
  }

  @media (min-width: 769px) {
    @include responsive(font-size, 1rem);
  }
}

.main-btn {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  background-color: $golden-yellow;
  border: none;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 1rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  .main-btn-icon {
    width: 0.55rem;
    height: 0.55rem;
  }

  @media (min-width: 481px) {
    @include responsive(font-size, 1rem);
    @include responsive(gap, 0.625rem);
    @include responsive(gap, 1.5rem);

    .main-btn-icon {
      @include responsive(width, 0.75rem);
      @include responsive(height, 0.75rem);
    }
  }

  @media (min-width: 769px) {
    @include responsive(font-size, 1rem);
    @include responsive(gap, 0.625rem);
    @include responsive(gap, 1.5rem);

    .main-btn-icon {
      @include responsive(width, 0.75rem);
      @include responsive(height, 0.75rem);
    }
  }

  @media (min-width: 1025px) {
    @include responsive(font-size, 1rem);
    @include responsive(gap, 0.625rem);
    @include responsive(gap, 1.5rem);

    .main-btn-icon {
      @include responsive(width, 0.75rem);
      @include responsive(height, 0.75rem);
    }
  }
}

.sec-btn {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  background-color: $pure-white;
  border: none;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 1rem;
  font-weight: bold;

  &:hover {
    cursor: pointer;
  }

  .sec-btn-icon {
    width: 0.55rem;
    height: 0.55rem;
  }

  @media (min-width: 481px) {
    @include responsive(font-size, 1rem);
    @include responsive(gap, 0.625rem);
    @include responsive(gap, 1.5rem);

    .sec-btn-icon {
      @include responsive(width, 0.75rem);
      @include responsive(height, 0.75rem);
    }
  }

  @media (min-width: 769px) {
    @include responsive(font-size, 1rem);
    @include responsive(gap, 0.625rem);
    @include responsive(gap, 1.5rem);

    .sec-btn-icon {
      @include responsive(width, 0.75rem);
      @include responsive(height, 0.75rem);
    }
  }

  @media (min-width: 1025px) {
    @include responsive(font-size, 1rem);
    @include responsive(gap, 0.625rem);
    @include responsive(gap, 1.5rem);

    .sec-btn-icon {
      @include responsive(width, 0.75rem);
      @include responsive(height, 0.75rem);
    }
  }
}
